.outlineContainer_openButton {
	font-size: 30px;
	color: white;
	text-shadow: 1px 1px 1px black;
	background-color: black;
	height: 39px;
	width: 28px;
	left: 2px;
	top: 3px;
	padding: 5px;
}

.outlineContainer {	
	height: 100%;
	width: 0%;
	background-color: white;
	-webkit-transition: width 1s; /* Safari */
	transition: width 1s;
	transition-timing-function: ease;	
	overflow: hidden;
}

.outlineContainer--open {	
	width: 30%;
}

.outline-scroll {
	direction: rtl;
	max-height: 80vh;
	overflow-y: scroll;
}

.outline-content {
	direction: ltr;
}

.outline-container {
	background-color: rgba(40,40,40,.95);    
    left: 65vw;
	opacity: 0;
	padding: 20px 10px;
	pointer-events: none;
    position: absolute;
	transform: translateY(-110%);
	transition: all ease .5s;
	-webkit-transition: all ease .5s;
	width: 35vw;
}

.outline-container--open {
	pointer-events: all;
	opacity: 1;
	transition: all ease .5s;
	-webkit-transition: all ease .5s;
}

.viewer__outline-button {
	position: relative;
	opacity: .5;
}


.outline-container--open + .viewer__outline-button {
	opacity: 1;
}

.outline-content__scene {
	align-items:center;
	background-color: #282828;
	color: #ddd;
	cursor: pointer;
	display: flex;
	font-weight: 100;
	padding: .3125rem .625rem;
	position: relative;
}

.outline-content__scene:hover {
	background-color: #444;
}

.outline-content__scene p {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 60%;
}

.visited-icon-container {
    left: 5.6rem;
    position: absolute;
    top: .56rem;
    border-radius: 50%;
}

.outline-content__scene-visited-icon {
    display: none;
    fill: #fff;
    width: 1.25rem;
    stroke-width: 1px;
}

.outline-content__scene--active {
	background-color: #444;
	font-weight: 900;
}

.outline-content__scene--visited {
	color: #fff;
}

.outline-content__scene--visited img {
	opacity: .6;
}

.outline-content__scene--visited .outline-content__scene-visited-icon {
	display: block;
}

.outline-content__scene-text {
	text-align: left;
}

.outline-content__scene-image {
	margin-right: .625rem;
	width: 6.25rem;
	height: 3.125rem;
}