.viewer__title {
    align-items: center;
    opacity: 0;
    transition: all ease .5s;
    transition-delay: 5s;
    overflow: hidden;    
    width: 100%;
  
}

.viewer__title.show--fade {
    opacity: 1;
    transition: all ease .5s;
}

.titleContainer_label, .secondaryTitleContainer_label {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}