<div class="shellApp guideLine">
  <div id="header" class="header guideLine">

    <header-app *axLazyElement="components.headerUrl;loadingTemplate: loading;" [title]="title"></header-app>

    <input type="text" [(ngModel)]="title">
    <button (click)="triggerEventOnSidebar()">Trigger Event on sidebar</button>
  </div>
  <div class="body guideLine">
    <body-app *axLazyElement="components.bodyUrl;loadingTemplate: loading;" [title]="bodyApp.title" [message]="bodyApp.message"></body-app>
  </div>
  <div class="sidebar guideLine">
    <side-app *axLazyElement="components.sidebarUrl;loadingTemplate: loading;" [articles]="articles" (sidebarEvents)="onSidebarEvents($event)"></side-app>
  </div>
  <div class="footer guideLine">
    <footer-app *axLazyElement="components.footerUrl;loadingTemplate: loading;" [menu]="menu"></footer-app>
  </div>
<div>

<ng-template #loading>Loading ...</ng-template>
