<div class="shellApp guideLine">
  <div id="header" class="header guideLine">
    <header-app title="{{ title }}"></header-app>
    <input type="text" [(ngModel)]="title">
    <button (click)="triggerEventOnSidebar()">Trigger Event on sidebar</button>
  </div>
  <div class="body guideLine">
    <body-app title="{{ bodyApp.title }}" message="{{ bodyApp.message }}"></body-app>

  </div>
  <div class="sidebar guideLine">
    <side-app id="sidebar" [(articles)]="articles"></side-app>
  </div>
  <div class="footer guideLine">
    <footer-app [(menu)]="menu"></footer-app>
  </div>
<div>

