<div class="viewer__floorplan-container">
	<svg class="viewer__icon viewer__floorplanimage-icon js-viewer__floorplanimage-icon" version="1.1" xmlns="http://www.w3.org/2000/svg"
		xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-30.52 -32.457 85.039 85.039"
		enable-background="new -30.52 -32.457 85.039 85.039" xml:space="preserve">
		<path d="M52.562-5.999L12.506-31.474l-22.62,14.604l-2.111,1.436l-0.045,0.354l-0.064,13.334l-14.139,8.7l-2.452,1.36v29.583
	l0.362,0.115l0.387,0.115L-3.28,51.424l1.374,0.197l1.461-0.243l53.147-31.469l0.222-0.124v-0.169V-5.686L52.562-5.999z
	 M47.666-5.943L25.585,6.696L13.958-2.197l-0.024-25.025L47.666-5.943z M11.103-27.193l0.021,23.947L3.815,0.975L3.751-8.197
	L3.453-8.352l-10.829-6.91L11.103-27.193z M-9.447-13.231l7.634,5.005l-7.681,4.731L-9.447-13.231z M0.929-6.583l0.117,17.458
	l-11.923,7.515l-13.982-9.099L0.929-6.583z M-3.28,48.215l-22.809-12.187V11.869l22.552,14.466l0.257,0.145V48.215z M-3.377,23.271
	l-4.888-3.177l11.779-7.418h0.38l-0.06-8.44l7.895-4.563L22.911,8.22L-3.377,23.271z M50.085,18.173L-0.45,48.1V24.858L50.085-4.065
	V18.173z" />
	</svg>

	<div class="viewer__floorplanimage-container">
		<div class="viewer__floorplanimage-text zindex__overlay"></div>
		<!-- Root element of PhotoSwipe. Must have class pswp. -->
		<div class="js-viewer__floorplan-swipe pswp" tabindex="-1" role="dialog" aria-hidden="true">

			<!-- Background of PhotoSwipe. It's a separate element as animating opacity is faster than rgba(). -->
			<div class="pswp__bg"></div>

			<!-- Slides wrapper with overflow:hidden. -->
			<div class="pswp__scroll-wrap">

				<!-- Container that holds slides (keeps only 3 of them in the DOM to save memory) -->
				<div class="pswp__container">
					<div class="pswp__item item0"></div>
					<div class="pswp__item item1"></div>
					<div class="pswp__item item2"></div>
				</div>

				<!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
				<div class="pswp__ui pswp__ui--hidden">

					<div class="pswp__top-bar">

						<!--  Controls are self-explanatory. Order can be changed. -->
						<div class="pswp__counter"></div>
						<button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

						<div class="pswp__preloader">
							<div class="pswp__preloader__icn">
								<div class="pswp__preloader__cut">
									<div class="pswp__preloader__donut"></div>
								</div>
							</div>
						</div>

					</div>

					<div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
						<div class="pswp__share-tooltip"></div>
					</div>

					<button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
					</button>

					<button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
					</button>

					<div class="pswp__caption">
						<div class="pswp__caption__center"></div>
					</div>

				</div>

			</div>

		</div>
	</div>
</div>
