<div class="viewer__top-nav zindex__view-panel">
    <div class="viewer__corner">
        <div class="viewer__scene-title">
            <div class="viewer__logo"></div>
            <div class="viewer__title"></div>
        </div>
    </div>

    <div class="viewer__corner">
    </div>
</div>

<div class="viewer__bottom-nav zindex__view-panel">
    <div class="viewer__corner">
        <div class="viewer__compass"></div>
    </div>

    <div class="viewer__corner">
        <div class="viewer__options">
            <div class="viewer__floor-plan"></div>
            <div class="viewer__outline"></div>
            <div class="viewer__description"></div>
            <div class="viewer__share"></div>
            <div class="viewer__fullscreen"></div>
        </div>
    </div>
</div>
